.mypage-main.col-9
   %h2.header_title
      支払い方法
      .single-container
      %section.creditcard_section
      %h3 クレジットカード一覧
   - if @card.present?
      .container
      .creditcard-info
      -# = image_tag "cards/#{@card_image}",width:'34',height:'20', alt:'master-card'
      %p.creditcard-info__number
      = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
      %p.card-info__period 
      = @exp_month + " / " + @exp_year
      = link_to "削除する", "/mypages/#{current_user.id}/cards/#{@card.id}", method: :delete, class:"card-info__delete"
   - else

      -# .new-card
      -#    = link_to new_creditcard_path, class:"new-card-btn" do
      -#   %i.far.fa-credit-card 
      -#      クレジットカードを追加する
