= render "shared/header"  

.main
  %section.mainVisual
    .cont
      %h2.cont__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.cont__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .cont__btn
        =link_to "#", id:".aBtn" do
          %img{:src => "/images/material/download/app.png",class: 'aBtn'}/
        =link_to "#", id:".gBtn" do
          %img{:src => "/images/material/download/google.png",class: 'gBtn'}/
    .picture
  %section.topIntroduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          =image_tag("/images/material/pict/pict-reason-01.jpg")
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          =image_tag("/images/material/pict/pict-reason-02.jpg")
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list__pict
          %span.number 3
          =image_tag("/images/material/pict/pict-reason-03.jpg")
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&amp;購入！
  %section.topMiddleDl
    .topMiddleDl__inner
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .btn
        =link_to "#" do
          =image_tag("/images/material/download/app.png",class: 'aBtn')
        =link_to "#" do
          =image_tag("/images/material/download/google.png",class: 'gBtn')
  %section.topKeyFeatures
    %h2.head FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          =image_tag("/images/material/icon/icon-01.png")
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          =image_tag("/images/material/icon/icon-03.png")
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.item
        %figure.item__img
          =image_tag("/images/material/icon/icon-04.png")
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.pickupbox 
    %h2.pickupbox--title ピックアップカテゴリー
    .pickupbox__category
      .pickupbox__category__head
        = link_to root_path do
          %h3.pickupbox__category__head--title  新規投稿商品
      .pickupbox__category__lists
        - @products.each do |product|
          = link_to product_path(product.id) do
            .pickupbox__category__list
              %figure.pickupbox__category__lists--image
                = image_tag product.images.first.src.url
              .pickupbox__category__list--text
                %h3.name 
                  = product.name
                .syosai
                  %ul
                    %li
                      = product.price 
                      円
                    %li
                      %i.fa  
                      ★0
                  %p.zeikomi (税込)
              - if product.buy_user_id.present? 
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD

= render "shared/footer"  
= render "shared/sub_footer"  
= render "shared/sellbtn"