.PcHeader
  .headerInner
    .mainheader
      %h1.icon
        =link_to "/" do
          =image_tag("/images/material/logo/logo.png")
      .searchBox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input#searchInput.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit"}
            .searchBox__icon
              =image_tag("/images/material/icon/icon-search 1.png")
          %input{:name => "authenticity_token", :type => "hidden", :value => "K2GGkTFbGuaQPfsXR+fEectrW4VVhp66jzRtgvDH3bIKznrDVWPSPMhrusk1perI3Fz2yUXaDuHqZZQjQaUuxQ=="}/
      %ul.resultLists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          =link_to "カテゴリー" ,"#",id: "catBtn"  
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree--item
                =link_to "レディース","#" ,id:"#1"
              %li.categoryTree--item
                =link_to "メンズ","#" ,id:"#2"
              %li.categoryTree--item
                =link_to "ベビー・キッズ","#" ,id:"#3"
              %li.categoryTree--item
                =link_to "インテリア・住まい・小物","#" ,id:"#4"
              %li.categoryTree--item
                =link_to " 本・音楽・ゲーム","#" ,id:"#5"
              %li.categoryTree--item  
                =link_to "おもちゃ・ホビー・グッズ","#" ,id:"#6"
              %li.categoryTree--item
                =link_to "コスメ・香水・美容","#" ,id:"#7"
              %li.categoryTree--item
                =link_to "家電・スマホ・カメラ","#" ,id:"#8"
              %li.categoryTree--item
                =link_to "スポーツ・レジャー","#" ,id:"#9"
              %li.categoryTree--item
                =link_to "ハンドメイド","#" ,id:"#10"
              %li.categoryTree--item
                =link_to "チケット","#" ,id:"#11"
              %li.categoryTree--item
                =link_to "自動車・オートバイ","#" ,id:"#12"
              %li.categoryTree--item
                =link_to "その他","#" ,id:"#13"  
        %li.listsLeft__item
          =link_to "ブランド" ,"#",id: "brandBtn"  
          %ul.brandsPulldown.displayNone
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          =link_to "ログイン" ,"#"
        %li.listsRight__item.listsRight__item--new
          =link_to "新規会員登録" ,"#"
        
  %nav.breadCrumbs
    %ul
      %li
        =link_to "FURIMA", "#"
      %li
        %i.fa.fa-angle-right
      %li
        =link_to "#{@product.category.name}", "#"
      %li
        %i.fa.fa-angle-right
      %li
        =link_to "ジャケット/アウター", "#"
      %li
        %i.fa.fa-angle-right
      %li
        =link_to "ノーカラージャケット", "#"
      %li
        %i.fa.fa-angle-right
      %li
        %p
        = @product.name
  .main
    .showMain
      .contentLeftqq
      .contentRight
        .topContent
          .itemBox
            %h2.itemBox__name 
              = @product.name
            = image_tag("#{@product.images[0].src}", width: 300, height:500)
            %div.imgs
              %ul
              = @product.images.each do |image|
                %li.imag
                  = image_tag("#{image.src}")
            .itemBox__body
              -# %ul
              -#   %li
              -#     =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png")
              -#     %ul
              -#       %li
              -#         =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png")
              -#       %li
              -#         =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/11/a005.png")
              -#       %li
              -#         =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/12/a006.png")
            .itemBox__price
              %span
                = @product.price
              .itemBox__price-detail
                %span
                  (税込)
                %span
                  送料込み
            .itemDetail
              = @product.description
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td hoge
                  %tr
                    %th カテゴリー
                    %td
                      =link_to "#{@product.category.name}", "#"
                      %br/
                      =link_to "ジャケット/アウター", "#"
                      %br/
                      =link_to "ノーカラージャケット", "#"
                  %tr
                    %th ブランド
                    %td
                      = @product.brand
                  %tr
                    %th 商品のサイズ
                    %td 無し
                  %tr
                    %th 商品の状態
                    %td
                      = @product.status
                  %tr
                    %th 配送料の負担
                    %td
                      = @product.send_fee
                  %tr
                    %th 発送元の地域
                    %td
                      =link_to "#{@product.region.name}", "#"
                  %tr
                    %th 発送日の目安
                    %td
                      = @product.send_day
            .optionalArea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.button
              -# - if user_signed_in? && current_user.id == @product.user_id
              -#   %li
              -#   =link_to "削除", "#"
              -#   %li
              -#   =link_to "編集", "#"
              -# - else
              -# -if user_signed_in? && current_user.id != @product.user_id
              -#   %li
              -#   =link_to "購入", "#"
              -# - else
              %ul.optional
                %li.optionalBtn
                  %a{:href => "#"}
                    %i.fa.fa-flag
                    不適切な商品の通報
          .commentBox
            %ul.commentContents
            %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "jru3jR2f28vZNa3MYe39+9JeZm8/fpkYlrB6h4Ol5M1iGR61ETq8DaG1dee4ayayno2kiHCdhkQNNSCf9FbWWQ=="}/
              %textarea#comment_body{:name => "comment[body]", :required => "required"}
              %p.noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
              %button.commentBtn{:name => "button", :type => "submit"}
                %i.fa.fa-comment
                コメントする
        %ul.links
          %li
            =link_to "#" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            =link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
        .relatedItems
          =link_to "#" "メンズをもっと見る"
          .productLists
  %aside.appBanner
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        =link_to "#" do
          =image_tag("/images/material/download/app.png",class: '.linkIcon.aBtn')
        =link_to "#" do
          =image_tag("/images/material/download/google.png",class: '.linkIcon.gBtn')
  .footer
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
          =link_to "#" do
            会社概要（運営会社）
        %li
          =link_to "#" do
            プライバシーポリシー
        %li
          =link_to "#" do
            FURIMA利用規約
        %li
          =link_to "#" do
            ポイントに関する特約
      %li.content
        %h2.content__head FURIMAを見る
        %ul
          %li
          =link_to "#" do
            カテゴリー一覧
        %li
          =link_to "#" do
            ブランド一覧
      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li
            =link_to "#" do
              FURIMAガイド
          %li
            =link_to "#" do
              FURIMAロゴ利用ガイドライン
          %li
            =link_to "#" do
              お知らせ
    .footer__logo
    =link_to "/" do
      =image_tag("/images/material/logo/logo-white.png")
  %p © FURIMA
= link_to "#" do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag("/images/material/icon/icon_camera.png")
